body 
			.load {
			background-color: rgb(241, 241, 241);
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			box-sizing: border-box;
			color: rgb(0, 0, 0);
			font-family: "Roboto", sans-serif;
			font-size: 12px;
			line-height: 18px;
			}
			.progress {
			background-color:  #009688 !important;
			border-bottom-left-radius: 13px;
			border-bottom-right-radius: 16px;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			box-sizing: border-box;
			color: rgb(0, 0, 0);
			font-family: "Roboto", sans-serif;
			font-size: 12px;
			line-height: 18px;
			color:  #ffff !important;
			text-align: center;
			}
			.load2 {
				background-color: rgb(241, 241, 241);
				border-bottom-left-radius: 16px;
				border-bottom-right-radius: 16px;
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
				box-sizing: border-box;
				color: rgb(0, 0, 0);
				font-family: "Roboto", sans-serif;
				font-size: 12px;
				line-height: 18px;
			}
			.progress2 {
			background-color:  #009688 !important;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			box-sizing: border-box;
			color: rgb(0, 0, 0);
			font-family: "Roboto", sans-serif;
			font-size: 12px;
			line-height: 18px;
			color:  #ffff !important;
			text-align: center;
			}
			.load3 {
				background-color: rgb(241, 241, 241);
				border-bottom-left-radius: 16px;
				border-bottom-right-radius: 16px;
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
				box-sizing: border-box;
				color: rgb(0, 0, 0);
				line-height: 18px;
			}
			.progress3 {
				background-color: #009688 !important;
				border-bottom-left-radius: 16px;
				border-bottom-right-radius: 16px;
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
				color: #fff !important;
				text-align: center;
				line-height: 18px;
				font-size: 12px;
			}
			
			